.login-container {
    margin-top: 100px;
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 6px 12px #00bcd41a;
    text-align: center;
    width: 400px;
  }
  
  .login-container h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #ffffff;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
    font-size: 1rem;
  }
  
  .login-container input:focus {
    outline: 2px solid #00bcd4;
  }
  
  .login-container button {
    margin-top: 15px;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-container button:hover {
    background-color: #008ba3;
  }
  
  .login-container .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .login-container p {
    margin-top: 10px;
    color: #b0b0b0;
  }
  
  .login-container a {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }  