.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, #333, #251a4f);
}

.login-container {
    background-color: transparent;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .login-container h2 {
    margin-bottom: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(180deg, #fdcee1, #fe93a5, #b281f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    background-color: #dfdfdf;
    color: #333;
    font-size: 1rem;
    width: 100%;
    max-width: 350px;
  }
  
  .login-container input:focus {
    outline: 2px solid #fdcee1;
  }
  
  .login-container button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 350px;
  }
  
  .login-container button:hover {
    background-color: #f3f4f6;
    color: #333;
  }
  
  .login-container .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .login-container p {
    margin-top: 10px;
    color: #b0b0b0;
  }
  
  .login-container a {
    color: #b281f1;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }

  /* Tablet */
@media (max-width: 768px) {
  .login-container {
    padding: 1.5rem; 
    width: 90%;
    max-width: 350px;
  }

  .login-container h2 {
    font-size: 1.5rem;
  }

  .login-container input, .login-container button {
    max-width: 100%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .login-container {
    width: 100%;
    padding: 1rem;
    border: none;
  }

  .login-container h2 {
    font-size: 1.3rem;
  }

  .login-container input, .login-container button {
    font-size: 0.9rem;
  }
}