/* Post Card */
.post {
    background-color: transparent;
    color: #f5f5f5;
    max-width: 700px;
    padding: 15px;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 
        2px 8px 16px #d9a8cf66,
        6px 8px 10px #a088c066;
}

.username {
    color: #fe93a5;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 15px;
    color: #d1d1d1;
}

.post-image {
    max-width: 520px;
    width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.post-actions {
    display: flex;
    margin-top: 10px;
}

#like-button {
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#like-button:hover {
    background-color: #39344694;
}

.liked {
    background-color: transparent;
}

#comment-button {
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#comment-button:hover {
    background-color: #39344694;
}

.material-icons {
    transform: translateY(5px);
    font-size: 20px;
    margin-right: 5px;
}

/* Comment Section */
.comments-section {
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
}

.comments-section h4 {
    color: #f5f5f5;
}

.comment {
    background-color: #3730508d;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    color: #f5f5f5;
}

.add-comment {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.add-comment input {
    background-color: #dfdfdf;
    color: #333;
    border: 1px solid #333;
    width: 80%;
    padding: 8px;
    border-radius: 8px;
}

.add-comment input:focus {
    outline: 2px solid #fdcee1;
}

.add-comment button {
    background-color: transparent;
    color: white;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.add-comment button:hover {
    background-color: white;
    color: #333;
}
