.dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, #333, #251a4f);
    padding: 20px 10px;
}

.create-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 520px;
    background-color: transparent;
    color: #f5f5f5;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.create-post h3 {
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #fdcee1, #fe93a5, #b281f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.create-post textarea,
.create-post input {
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: #333;
}

    .create-post textarea:focus,
    .create-post input:focus {
        outline: 2px solid #fdcee1;
    }

#post-btn {
    font-size: 15px;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#post-btn:hover {
    background-color: #f0efef;
    color: #333;
}

/* Tablet */
@media (max-width: 768px) {
    .create-post {
      width: 90%;
    }
  
    .create-post h3 {
      font-size: 1.5rem;
    }
  
    .create-post textarea,
    .create-post input {
      font-size: 0.9rem;
    }
  
    #post-btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  /* Mobile */
  @media (max-width: 480px) {
    .create-post {
      width: 80%;
    }
  
    .create-post h3 {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
  
    .create-post textarea,
    .create-post input {
      font-size: 0.85rem;
      padding: 8px;
    }
  
    #post-btn {
      font-size: 13px;
      padding: 7px 14px;
    }
  }