.profile-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, #333, #251a4f);
}

.profile-container {
    width: 50vh;
    padding: 20px;
    background: transparent;
    color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    text-align: center;
}

.profile-container h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #fdcee1, #fe93a5, #b281f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: #333;
}

button {
    padding: 8px 15px;
    margin: 10px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #ececec;
    color: #333;
    transition: 0.2s;
}

.delete-btn {
    background-color: transparent;
    margin-top: 15px;
}

.delete-btn:hover {
    background-color: #f03c3c;
    color: #ececec;
}

.back-btn {
    margin-top: 15px;
}

.back-btn a {
    color: white;
    text-decoration: none;
}

.back-btn a:hover {
    text-decoration: underline;
}

.error-message {

    color: #c62a2a;
    margin-top: 5px;
}

.success-message {
    color: #0bae0b;
    margin-top: 5px;
}
